<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            * {margin: 0; padding: 0; }
            li {list-style-type:none;}
            body {font: 12px "굴림", Gulim; margin: 20px;}
            #wrapper {width: 550px;}
            p { text-align: justify; }

            .skate { float: left; width: 250px; padding: 15px; background: #ccc; }
            .football { float:right; width: 210px; padding: 15px; background: #eee;}
            .olympic { clear: both; padding: 10px; background: #8cc; }

        </style>
    </head>
    <body>
        <div id="wrapper">
            <div class="skate">
                <p>아무튼 스케이트라는 뜻으로 스케이트다 뭘쓰지
                    아무튼 스케이트라는 뜻으로 스케이트다 뭘쓰지
                    아무튼 스케이트라는 뜻으로 스케이트다 뭘쓰지
                    아무튼 스케이트라는 뜻으로 스케이트다 뭘쓰지
                    아무튼 스케이트라는 뜻으로 스케이트다 뭘쓰지
                    아무튼 스케이트라는 뜻으로 스케이트다 뭘쓰지
                </p>
            </div>
            <div class="football">
                <p>이건 축구다 이말이야이건 축구다 이말이야이건 축구다 이말이야
                    이건 축구다 이말이야이건 축구다 이말이야이건 축구다 이말이야
                    이건 축구다 이말이야이건 축구다 이말이야이건 축구다 이말이야
                    이건 축구다 이말이야이건 축구다 이말이야이건 축구다 이말이야
                    이건 축구다 이말이야이건 축구다 이말이야이건 축구다 이말이야
                </p>
            </div>
            <div class="olympic">
                <p>대충 망했ㄸ ㅏ흐으하하하대충 망했ㄸ ㅏ흐으하하하대충 망했ㄸ ㅏ흐으하하하
                    대충 망했ㄸ ㅏ흐으하하하
                    대충 망했ㄸ ㅏ흐으하하하
                    대충 망했ㄸ ㅏ흐으하하하
                    대충 망했ㄸ ㅏ흐으하하하
                    대충 망했ㄸ ㅏ흐으하하하
                </p>
            </div>
        </div>
    </body>
</html>